Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
Requires: {{ dependencies.rocky_common | join(',') }}

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

%description
{{ title }}
{{ description }}

%prep
%setup -q

%build
echo "Starting build process..."
pip3 install 'Cython==3.0.12'
./configure --prefix=/usr
make

%install
echo "Starting install process..."
python3 setup.py install --single-version-externally-managed -O1 --root=$RPM_BUILD_ROOT --record=INSTALLED_FILES

%clean
rm -rf $RPM_BUILD_ROOT

%files -f INSTALLED_FILES

%changelog
* Tue Aug 04 2026 Jordan Keough <jkeough@45drives.com> 2.4.1-4
- Push new release to stable
* Tue Aug 04 2026 Jordan Keough <jkeough@45drives.com> 2.4.1-3
- Testing package for zfsutils dep name change
* Tue Jul 07 2026 Rachit Hans <rhans@45drives.com> 2.4.1-2
- testing package  build processto support zfs2.4
* Tue Jul 07 2026 Rachit Hans <rhans@45drives.com> 2.4.1-1
- building package to support zfs2.4
* Mon Jul 06 2026 Rachit Hans <rhans@45drives.com> 2.4.0-4
- building package to support zfs2.4
* Mon Jul 06 2026 Rachit Hans <rhans@45drives.com> 2.4.0-3
- building package to support zfs2.4
* Mon Jul 06 2026 Rachit Hans <rhans@45drives.com> 2.4.0-2
- ZFS 2.4 compatibility for Debian Trixie (PVE 9.2
* Mon Jul 06 2026 Rachit Hans <rhans@45drives.com> 2.4.0-1
- building test package for trixie
* Thu Feb 20 2025 Jordan Keough <jkeough@45drives.com> 2.2.1-6
- build for new repos
* Mon Feb 03 2025 Brett Kelly <bkelly@45drives.com> 2.2.1-1
- initial release